--------------------------- Validação de Dados

In [1]:
import pandas as pd
import pandera as pa

In [28]:
df = pd.read_csv("ocorrencia.csv", sep=",", parse_dates=['ocorrencia_dia', 'ocorrencia_hora'], dayfirst=True )
#df.head(10)
#df.tail(n)

In [29]:
schema = pa.DataFrameSchema(
        columns = {
            "Não_necessária":pa.Column(pa.Int, required = False),
            "codigo_ocorrencia2":pa.Column(pa.Int),      
            "ocorrencia_classificacao":pa.Column(pa.String),
            "ocorrencia_cidade":pa.Column(pa.String),
            "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2)),
            "ocorrencia_aerodromo":pa.Column(pa.String),
            "codigo_ocorrencia":pa.Column(pa.Int),
            "ocorrencia_dia":pa.Column(pa.DateTime),
            "ocorrencia_hora":pa.Column(pa.DateTime, nullable = True),
            "total_recomendacoes":pa.Column(pa.Int),
        }
)

In [30]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,2022-04-12 20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,2022-04-12 13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,2022-04-12 13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,2022-04-12 17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,2022-04-12 16:30:00,0
...,...,...,...,...,...,...,...,...,...
5143,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,2022-04-12 20:30:00,0
5144,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,2022-04-12 09:30:00,0
5145,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,2022-04-12 11:59:00,0
5146,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,2022-04-12 15:12:00,0
5147,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,2022-04-12 20:30:00,0

------------------------------------- Limpeza dos Dados

In [31]:
df.loc[1:3,'ocorrencia_uf'] #Localizando na matriz ['linha','colina']' nao sao indices de arrays e sim da lista

1    SP
2    RS
3    SP
Name: ocorrencia_uf, dtype: object

In [32]:
df.loc[[1,500],'ocorrencia_uf'] #Localizando na matriz ['linha','colina']' nao sao indices de arrays e sim da lista

1      SP
500    PR
Name: ocorrencia_uf, dtype: object

In [33]:
df.loc[:,'ocorrencia_uf'] #Localizando na matriz ['linha','colina']' nao sao indices de arrays e sim da lista

0       RS
1       SP
2       RS
3       SP
4       RS
        ..
5143    GO
5144    SP
5145    RS
5146    PR
5147    PE
Name: ocorrencia_uf, Length: 5148, dtype: object

In [34]:
df.codigo_ocorrencia.is_unique #verifica se é unico

True

In [35]:
if(df.codigo_ocorrencia.is_unique):
    df.set_index('codigo_ocorrencia', inplace = True)

In [36]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,2022-04-12 20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,2022-04-12 13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,2022-04-12 13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,2022-04-12 17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,2022-04-12 16:30:00,0

In [12]:
df.loc[45407]

codigo_ocorrencia2                        45407
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade                      SÃO SEPÉ
ocorrencia_uf                                RS
ocorrencia_aerodromo                       ****
ocorrencia_dia              2012-01-06 00:00:00
ocorrencia_hora             2022-04-12 16:30:00
total_recomendacoes                           0
Name: 45407, dtype: object

In [13]:
df.reset_index(drop=True,inplace=True)

In [14]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,2022-04-12 20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,2022-04-12 13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,2022-04-12 13:00:00,0
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,2022-04-12 17:00:00,0
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,2022-04-12 16:30:00,0

In [37]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,2022-04-12 20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,2022-04-12 13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,2022-04-12 13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,2022-04-12 17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,2022-04-12 16:30:00,0

In [44]:
df.loc[df.ocorrencia_aerodromo == '*****', ['ocorrencia_aerodromo']] = ''

In [45]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,2022-04-12 20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,2022-04-12 13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,2022-04-12 13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,,2012-01-06,2022-04-12 17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,,2012-01-06,2022-04-12 16:30:00,0
...,...,...,...,...,...,...,...,...
80458,80458,ACIDENTE,JATAÍ,GO,,2021-12-30,2022-04-12 20:30:00,0
80452,80452,ACIDENTE,MARACAÍ,SP,,2021-12-31,2022-04-12 09:30:00,0
80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,2022-04-12 11:59:00,0
80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,2022-04-12 15:12:00,0
80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,2022-04-12 20:30:00,0